.App {
  color: var(--text-primary);
  background-color: var(--background);
  font-size: large;
  font-weight: bold;
  transition: all .5s;
  height: 100vh;
}

.portfolio{
  background-color: var(--background);
}

.navBar:a:visited {
  color:blue;
}

a:visited {
  color: var(--visited-link);
}

.button {
  color: var(--text-primary) !important;
}

