body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background: rgb(255, 251, 230);
  --text-primary: #506c64ff;
  --text-secondary: #4c191bff;
  --accent: #17cfd3ff;
  --highlight: #DDD;
}

[data-theme='dark'] {
  --background: #333;
  --text-primary: #b9c8aa;
  --text-secondary: #963d5aff;
  --accent: #17cfd3ff;
  --highlight: #555;
}

footer {
  background-color: var(--background);
}